# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/static
/media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
.pyc
db.sqlite3
__pycache__
.infisical.json
